@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerHeader.cshtml";
    
}

<h2>Welcom Manager</h2>


<img class="clear" src="@Url.Action( "MyChart", "Admin")" alt="SimpleChart" />

<center><strong>Yearly Sales Chart</strong> </center>
