@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminHeader.cshtml";
}


<h2>Welcome MR. Owner </h2>

<img class="clear" src= "@Url.Action("MyChart")" alt="SimpleChart"/>

<center><strong>Yearly Sales Chart</strong> </center>